html, body {
  margin: 0;
  padding: 0;
}
#root {
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  font-size: 8px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #222;
  color: #fff;
  z-index: 1;
  display: flex;
  gap: 5px;
  flex-direction: column;
  .row {
    display: flex;
    gap: 5px;
  }
}

.canvas {
  width: 100%;
  height: 100%; 
  pointer-events: auto; 
}